<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ErrugbyElkartea</display-name>
  <welcome-file-list>
    <welcome-file>/html/loginForm.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  <listener>
    <listener-class>servletak.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>servletak.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/servlet/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servletak.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/servlet/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassAldatuServlet</servlet-name>
    <servlet-class>servletak.PassAldatuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassAldatuServlet</servlet-name>
    <url-pattern>/servlet/PassAldatuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PDFBihurtuServlet</servlet-name>
    <servlet-class>servletak.PDFBihurtuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFBihurtuServlet</servlet-name>
    <url-pattern>/servlet/PDFBihurtuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DatuakAldatuServlet</servlet-name>
    <servlet-class>servletak.DatuakAldatuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatuakAldatuServlet</servlet-name>
    <url-pattern>/servlet/DatuakAldatuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LizentziaLortuServlet</servlet-name>
    <servlet-class>servletak.LizentziaLortuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LizentziaLortuServlet</servlet-name>
    <url-pattern>/servlet/LizentziaLortuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servletak.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
</web-app>